.image-frame {
  width: 20vw;
  border-radius: 2rem;
  background-color: lightslategrey;
  margin: 2rem;
}

.h-20 {
  height: 20vh;
}

.button-cat {
  width: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.5rem;
  padding: 0.7em 1.4em;
  margin-top: 1rem;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  color: darkslategray;
  background-color: rgba(134,227,206,1);
  border: none;
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.button-cat:active {
  top: 0.1em;
}

.button-cat:hover {
  background-color: rgba(250,214,225,1);
}

.button-cat:focus {
  border: none;
  outline: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-container {
  justify-content: space-around;
  margin-top: 6rem;
}

.w-50-p {
  width: 40%;
}

.text-align-center {
  text-align: -webkit-center;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.error-msg {
  font-size: 1rem;
  color: darkred;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid darkslategray;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  animation: spin 1s linear infinite;
  margin-right: 2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}