<div class="flex-row align-container">
  <div class="w-50-p flex-col">
    <span class="title">This is a basic example of communication with a REST API</span>
    <span class="subtitle">If you press the button, an HTTP request is executed and after a few seconds, its return an image of a cat.</span>
    <span *ngIf="showError" class="error-msg">An unexpected error occurred, try again!</span>
    <button (click)="onGetCat()" class="button-cat flex-row">
      <div *ngIf="showSpinner" class="spinner"></div>
      Show a cat!
    </button>
  </div>
  <div class="w-50-p text-align-center">
    <div>
      <img *ngIf="catImageSrc;else other_content" class="image-frame" src={{catImageSrc}}>
      <ng-template #other_content><div class="image-frame h-20"></div></ng-template>
    </div>
  </div>
</div>

